TF IDF

TF-IDF â€” Term Frequency-Inverse Document Frequency

In [29]:
import pandas as pd
import numpy as np

corpus = ['data science is one of the most important fields of science',
          'this is one of the best data science courses',
          'data scientists analyze data' ]

words_set = set()
words_set


n_docs = len(corpus)         
n_words_set = len(words_set)
n_words_set
n_docs

for doc in  corpus:
    words = doc.split(' ')
    words_set = words_set.union(set(words))
    
words_set

print('Number of words in the corpus:',len(words_set))
print('The words in the corpus: \n', words_set)

Number of words in the corpus: 14
The words in the corpus:
 {'fields', 'this', 'one', 'of', 'important', 'courses', 'analyze', 'science', 'the', 'is', 'scientists', 'data', 'most', 'best'}

In [34]:
n_docs = len(corpus)         
n_words_set = len(words_set)




df_tf = pd.DataFrame(np.zeros((n_docs, n_words_set)), columns=list(words_set))



for i in range(n_docs):
    words = corpus[i].split(' ') # Words in the document
    for w in words:
        df_tf[w][i] = df_tf[w][i] + (1 / len(words))
        
df_tf

,fields,this,one,of,important,courses,analyze,science,the,is,scientists,data,most,best
0,0.090909,0.000000,0.090909,0.181818,0.090909,0.000000,0.00,0.181818,0.090909,0.090909,0.00,0.090909,0.090909,0.000000
1,0.000000,0.111111,0.111111,0.111111,0.000000,0.111111,0.00,0.111111,0.111111,0.111111,0.00,0.111111,0.000000,0.111111
2,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.25,0.000000,0.000000,0.000000,0.25,0.500000,0.000000,0.000000

In [35]:
print("IDF of: ")

idf = {}

for w in words_set:
    k = 0    # number of documents in the corpus that contain this word
    
    for i in range(n_docs):
        if w in corpus[i].split():
            k += 1
            
    idf[w] =  np.log10(n_docs / k)
    
    print(f'{w:>15}: {idf[w]:>10}' )

IDF of:
         fields: 0.47712125471966244
           this: 0.47712125471966244
            one: 0.17609125905568124
             of: 0.17609125905568124
      important: 0.47712125471966244
        courses: 0.47712125471966244
        analyze: 0.47712125471966244
        science: 0.17609125905568124
            the: 0.17609125905568124
             is: 0.17609125905568124
     scientists: 0.47712125471966244
           data:        0.0
           most: 0.47712125471966244
           best: 0.47712125471966244

In [36]:
df_tf_idf = df_tf.copy()

for w in words_set:
    for i in range(n_docs):
        df_tf_idf[w][i] = df_tf[w][i] * idf[w]
        
df_tf_idf

,fields,this,one,of,important,courses,analyze,science,the,is,scientists,data,most,best
0,0.043375,0.000000,0.016008,0.032017,0.043375,0.000000,0.00000,0.032017,0.016008,0.016008,0.00000,0.0,0.043375,0.000000
1,0.000000,0.053013,0.019566,0.019566,0.000000,0.053013,0.00000,0.019566,0.019566,0.019566,0.00000,0.0,0.000000,0.053013
2,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.11928,0.000000,0.000000,0.000000,0.11928,0.0,0.000000,0.000000